Repository os-fpga/Backend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github, docker, build, IPs, Architecture, yosys, verification, PDK, Netlist, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

source codes are now modified
  include/tileable_fix/rr_graph_builder.cpp
  include/tileable_fix/rr_graph_builder.h
  include/tileable_fix/rr_graph_uxsdcxx_serializer.h
Labels: none

Revert customization for OpenFPGA bitstream generation
  CMakeLists.txt
  include/openfpga/src/base/openfpga_bitstream_command_template.h
  include/openfpga/src/base/openfpga_bitstream_template.h
  include/openfpga/src/fpga_bitstream/build_fabric_bitstream_memory_bank.cpp
  include/openfpga/src/fpga_bitstream/fabric_bitstream.cpp
  include/openfpga/src/fpga_bitstream/fabric_bitstream.h
  include/openfpga/src/fpga_bitstream/write_text_fabric_bitstream.cpp
  include/openfpga/src/fpga_bitstream/write_text_fabric_bitstream.h
  include/openfpga/src/fpga_bitstream/write_xml_fabric_bitstream.cpp
  include/openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  include/openfpga/src/fpga_verilog/verilog_top_testbench_memory_bank.cpp
Labels: build, lang-make

Replace hmetis package via mtkahypar
  include/packer_fix/cluster.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/SetupVPR.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.h
  include/read_verilog/OpenFPGA/vpr/src/base/vpr_types.h
Labels: none

added TBB lib linkage
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
Labels: none

adding mtkahypar package to packer
  include/packer_fix/cluster.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/SetupVPR.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.h
  include/read_verilog/OpenFPGA/vpr/src/base/vpr_types.h
Labels: none

Updating edited netlist path and dumping primitives' interface to json
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
Labels: none

Removing redundant code
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
Labels: none

updating CMAKE to take encryption files from encryption folder rather then read_verilog
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
Labels: none

Revert "adding mtkahypar package to packer"
  include/packer_fix/cluster.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/SetupVPR.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.h
  include/read_verilog/OpenFPGA/vpr/src/base/vpr_types.h
Labels: none

adding mtkahypar
  CMakeLists.txt
  include/packer_fix/cluster.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/SetupVPR.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.h
  include/read_verilog/OpenFPGA/vpr/src/base/vpr_types.h
Labels: build, lang-make

adding config
  config.h.in
Labels: none

fixing Boost
  CMakeLists.txt
Labels: build, lang-make

Update install_centos_dependencies_build.sh
  .github/workflows/install_centos_dependencies_build.sh
Labels: github

Update install_ubuntu_dependencies_build.sh
  .github/workflows/install_ubuntu_dependencies_build.sh
Labels: github

Update install_centos_dependencies_build.sh
  .github/workflows/install_centos_dependencies_build.sh
Labels: github

Setting condition to not dump post synthesis ports from gate level reader if already generated from veri_prune
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
Labels: none

adding MtKahypar as sub project in cmake
  CMakeLists.txt
  Makefile
Labels: build, lang-make

do release instead of build
  .github/workflows/build.yml
Labels: github

checkout top project onlt
  .github/workflows/build.yml
Labels: github

trying to handle resource exhaust issue using solution from runner-images/discussions/7188
  .github/workflows/build.yml
Labels: github

try with ubuntu 20.04
  .github/workflows/build.yml
  CMakeLists.txt
Labels: github, build, lang-make

turn off mtKahparrrrr
  CMakeLists.txt
Labels: build, lang-make

try with increase swap
  .github/workflows/build.yml
  CMakeLists.txt
Labels: github, build, lang-make

Update build.yml to show swap size
  .github/workflows/build.yml
Labels: github

Update build.yml
  .github/workflows/build.yml
Labels: github

revert to original
  .github/workflows/build.yml
  CMakeLists.txt
Labels: github, build, lang-make

no parallel
  .github/workflows/build.yml
  Makefile
Labels: github, build, lang-make

do parallel
  .github/workflows/build.yml
  Makefile
Labels: github, build, lang-make

control cores
  Makefile
Labels: build, lang-make

control the no. of cores
  .github/workflows/build.yml
  Makefile
Labels: github, build, lang-make

build on push to main only
  .github/workflows/build.yml
Labels: github

adding nuumber of logic level to timing report in VPR
  CMakeLists.txt
  include/analysis_fix/timing_reports.cpp
  include/analysis_fix/timing_reports.h
  include/base_fix/vpr_api.cpp
  include/base_fix/vpr_context.h
  include/tatum_fix/TimingReporter.cpp
  include/tatum_fix/TimingReporter.hpp
  include/util_fix/vpr_utils.cpp
  include/util_fix/vpr_utils.h
Labels: build, lang-make

fix the make error
  CMakeLists.txt
Labels: build, lang-make

debug make for partition
  CMakeLists.txt
Labels: build, lang-make

debug CMake
  CMakeLists.txt
Labels: build, lang-make

fixing CMake
  CMakeLists.txt
Labels: build, lang-make

Pin Table does not always have AXI pins
  pin_c/src/file_readers/rapid_csv_reader.cpp
Labels: none

adding RS based private key for encrypting XML
  CMakeLists.txt
  include/xml_enc/OpenFPGA/arch_fpga_src/read_xml_arch_file.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/CMakeLists.txt
  include/xml_enc/OpenFPGA/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA/in_pugi_xml/function.h
  include/xml_enc/OpenFPGA/in_pugi_xml/obfuscate.h
  include/xml_enc/OpenFPGA/in_pugi_xml/openssl_rsa.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/openssl_rsa.h
  include/xml_enc/OpenFPGA/in_pugi_xml/pugixml_loc.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/pugixml_loc.hpp
  include/xml_enc/OpenFPGA/in_pugi_xml/pugixml_util.cpp
  private_key.pem
Labels: build, lang-make

pin_c: prepare to use A2F/F2A (column M) for directions
  pin_c/src/file_readers/Fio.cpp
  pin_c/src/file_readers/Fio.h
  pin_c/src/file_readers/Fio_csv.cpp
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pcf_place.cpp
Labels: none

Fixing bug of update of OpenFPGA
  include/base_fix/vpr_api.cpp
  include/base_fix/vpr_context.h
  include/packer_fix/cluster_util.cpp
  include/packer_fix/cluster_util.h
  include/packer_fix/post_routing_pb_pin_fixup.cpp
  include/placer_fix/analytic_placer.cpp
  include/placer_fix/move_generator.h
  include/placer_fix/place.cpp
  include/placer_fix/place_util.cpp
  include/placer_fix/place_util.h
  include/read_verilog/OpenFPGA/vpr/src/base/SetupVPR.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.h
  include/read_verilog/OpenFPGA/vpr/src/base/vpr_types.h
  include/util_fix/vpr_utils.cpp
  include/util_fix/vpr_utils.h
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use "minimatch" syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
# TODO

# General areas
documentation:
 - docs/*
 - docs/**/*
 - "*README*"
 - "*.md"
 - "*.rst"
 - ".readthedocs.yml"
github:
 - .github/*
 - .github/**/*
docker:
 - Dockerfile
 - "*docker*"
build:
 - Makefile
 - "*.make"
 - CMakeLists.txt
 - cmake
IPs:
 - ips/**
Architecture:
 - arch/**
yosys:
 - yosys/**
verification:
 - dv/**
PDK:
 - pdk/**
Netlist:
 - rtl/**

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
 - "*.v"
 - "*.sv"
lang-cpp:
 - "*.c*"
 - "*.h"
lang-perl:
 - "*.pl"
 - "*perl*"
lang-python:
 - "*.py"
lang-shell:
 - "*.sh"
lang-netlist:
 - "*.blif"
 - "*.eblif"
 - "*.edif"
 - "*.vqm"
lang-make:
 - "*.make"
 - Makefile
 - CMakeLists.txt
