Repository os-fpga/Backend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github, docker, build, IPs, Architecture, yosys, verification, PDK, Netlist, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

Making changes to run vpr wirh read_verilog functionality using local Raptor_Tools.
  CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
Labels: build, lang-make

Linking FLEX_LM for licensing
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
Labels: none

Adding private key name in build.yml
  .github/workflows/build.yml
Labels: github

adding set_clocks command
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/main.cpp
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
  pin_c/src/util/cmd_line.cpp
  pin_c/src/util/cmd_line.h
Labels: none

Updating build.yml
  .github/workflows/build.yml
Labels: github

Updated build.yml
  .github/workflows/build.yml
Labels: github

Updated build.yml
  .github/workflows/build.yml
Labels: github

Updated build.yml
  .github/workflows/build.yml
Labels: github

Updated build.yml
  .github/workflows/build.yml
Labels: github

logical_clocks_to_GEMINI_clks function is implemented and added in flow
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

Updated build.yml
  .github/workflows/build.yml
Labels: github

Packer runtime fix and 83 percent utilisation
  CMakeLists.txt
Labels: build, lang-make

packer speedup
  include/packer_fix/cluster.cpp
  include/packer_fix/cluster_util.cpp
  include/packer_fix/cluster_util.h
  include/packer_fix/output_clustering.cpp
  include/packer_fix/output_clustering.h
Labels: none

Adding eblif in pin_c
  pin_c/src/file_readers/blif_reader.cpp
Labels: none

pin_c: removed use_bump_column_B_ compatibility switch
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

use new column names in pin_c. column C: Ball Name -> Customer Name column N: GBOX_NAME -> Fullchip_NAME
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
Labels: none

adding command to generate repack_constarints.xml
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
Labels: none

EDA1162: pin_c accept "Customer Internal Name" PT column
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

Updated Cmake for pin_c
  pin_c/CMakeLists.txt
Labels: none

Now instead of creating repack_constraint.xml by ourself we will update the file which is in devices
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
Labels: none

Now instead of creating repack_constraint.xml by ourself we will update the file which is in devices
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

The condition has been fixed for usage_reqiurement3 and compilation errors fixed
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

The condition has been fixed for usage_reqiurement3 and compilation errors fixed
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

resolving merge conflicts
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

conflicts resolving
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

resolving conflicts
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

Lut4 packer sppedup
  CMakeLists.txt
  include/packer_fix/cluster_placement.cpp
Labels: build, lang-make

pin_c: temporary fix for EDA1198
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/util/pinc_log.cpp
  pin_c/src/util/pinc_log.h
Labels: none

pin_c: handle AXI pins properly (EDA-1162, EDA-1198)
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
Labels: none

pin_c: turn off LTO to fix linker issue
  pin_c/CMakeLists.txt
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

resolving conflicts and making a temp_clkmap_file which will be used to read set_clock_pin command
  pin_c/CMakeLists.txt
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
  pin_c/src/util/pinc_log.cpp
  pin_c/src/util/pinc_log.h
Labels: none

resolving conflicts with main branch
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

resolving conflicts with main branch
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

function calling to generate repack_constraints.xml file
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

function calling to generate repack_constraints.xml file
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

function calling to generate repack_constraints.xml file and adding a condition for reading next tcl command
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

function calling to generate repack_constraints.xml file and adding a condition for reading next tcl command
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

function calling to generate repack_constraints.xml file and adding a condition for reading next tcl command
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

function calling to generate repack_constraints.xml file and adding a condition for reading next tcl command
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

Working for unknown values in params
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.h
  pin_c/src/file_readers/blif_reader.cpp
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use "minimatch" syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
# TODO

# General areas
documentation:
 - docs/*
 - docs/**/*
 - "*README*"
 - "*.md"
 - "*.rst"
 - ".readthedocs.yml"
github:
 - .github/*
 - .github/**/*
docker:
 - Dockerfile
 - "*docker*"
build:
 - Makefile
 - "*.make"
 - CMakeLists.txt
 - cmake
IPs:
 - ips/**
Architecture:
 - arch/**
yosys:
 - yosys/**
verification:
 - dv/**
PDK:
 - pdk/**
Netlist:
 - rtl/**

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
 - "*.v"
 - "*.sv"
lang-cpp:
 - "*.c*"
 - "*.h"
lang-perl:
 - "*.pl"
 - "*perl*"
lang-python:
 - "*.py"
lang-shell:
 - "*.sh"
lang-netlist:
 - "*.blif"
 - "*.eblif"
 - "*.edif"
 - "*.vqm"
lang-make:
 - "*.make"
 - Makefile
 - CMakeLists.txt
