Repository os-fpga/Backend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github, docker, build, IPs, Architecture, yosys, verification, PDK, Netlist, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use "minimatch" syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
# TODO

# General areas
documentation:
 - docs/*
 - docs/**/*
 - "*README*"
 - "*.md"
 - "*.rst"
 - ".readthedocs.yml"
github:
 - .github/*
 - .github/**/*
docker:
 - Dockerfile
 - "*docker*"
build:
 - Makefile
 - "*.make"
 - CMakeLists.txt
 - cmake
IPs:
 - ips/**
Architecture:
 - arch/**
yosys:
 - yosys/**
verification:
 - dv/**
PDK:
 - pdk/**
Netlist:
 - rtl/**

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
 - "*.v"
 - "*.sv"
lang-cpp:
 - "*.c*"
 - "*.h"
lang-perl:
 - "*.pl"
 - "*perl*"
lang-python:
 - "*.py"
lang-shell:
 - "*.sh"
lang-netlist:
 - "*.blif"
 - "*.eblif"
 - "*.edif"
 - "*.vqm"
lang-make:
 - "*.make"
 - Makefile
 - CMakeLists.txt

stars: further restructuring, added WriterVisitor.cpp
  stars/src/RS/WriterVisitor.cpp
  stars/src/RS/WriterVisitor.h
  stars/src/RS/rsDB.cpp
  stars/src/RS/rsDB.h
  stars/src/main.cpp
Labels: none

stars: further restructuring
  stars/src/RS/WriterVisitor.cpp
  stars/src/RS/WriterVisitor.h
  stars/src/RS/rsDB.cpp
  stars/src/RS/sta_lib_data.h
  stars/src/RS/sta_lib_writer.cpp
  stars/src/RS/sta_lib_writer.h
Labels: none

stars: more restructuring
  stars/src/RS/WriterVisitor.cpp
  stars/src/RS/rsDB.cpp
  stars/src/RS/rsDB.h
  stars/src/RS/sta_lib_data.h
  stars/src/RS/sta_lib_writer.cpp
  stars/src/RS/sta_lib_writer.h
Labels: none

EDA-1727: stars: correct arc-type for check arcs in .lib
  stars/src/RS/WriterVisitor.cpp
  stars/src/RS/rsDB.cpp
  stars/src/RS/sta_lib_data.h
  stars/src/RS/sta_lib_writer.cpp
  stars/src/RS/sta_lib_writer.h
Labels: none

Update dependabot.yml to add more people for notification
  .github/dependabot.yml
Labels: github

Fix OpenFPGA issue 1256 and few enhancement
  CMakeLists.txt
  include/openfpga/src/base/openfpga_bitstream_command_template.h
  include/openfpga/src/base/openfpga_bitstream_template.h
  include/openfpga/src/fpga_bitstream/build_fabric_bitstream.cpp
  include/openfpga/src/fpga_bitstream/build_fabric_bitstream_memory_bank.cpp
  include/openfpga/src/fpga_bitstream/build_fabric_bitstream_memory_bank.h
  include/openfpga/src/fpga_bitstream/fabric_bitstream.cpp
  include/openfpga/src/fpga_bitstream/fabric_bitstream.h
  include/openfpga/src/fpga_bitstream/fabric_bitstream_schema.capnp
  include/openfpga/src/fpga_bitstream/fabric_bitstream_schema.capnp.h
  include/openfpga/src/fpga_bitstream/write_text_fabric_bitstream.cpp
  include/openfpga/src/fpga_bitstream/write_text_fabric_bitstream.h
  include/openfpga/src/fpga_bitstream/write_xml_fabric_bitstream.cpp
  include/openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  include/openfpga/src/fpga_verilog/verilog_top_testbench_memory_bank.cpp
Labels: build, lang-make

Update comment
  include/openfpga/src/fpga_bitstream/fabric_bitstream.h
Labels: none

pin_c: debug print for EDA-1750
  pin_c/src/file_readers/Fio.cpp
  pin_c/src/file_readers/Fio_csv.cpp
  pin_c/src/file_readers/rapid_csv_reader.cpp
Labels: none

Make WL incremental order as default and add more comment
  include/openfpga/src/base/openfpga_bitstream_command_template.h
  include/openfpga/src/base/openfpga_bitstream_template.h
  include/openfpga/src/fpga_bitstream/fabric_bitstream.h
Labels: none

spacing
  include/openfpga/src/fpga_bitstream/fabric_bitstream.h
Labels: none

indentation
  include/openfpga/src/fpga_bitstream/fabric_bitstream.h
Labels: none

pin_c: infrastructure and debug print for EDA-1750
  pin_c/src/file_readers/Fio.h
  pin_c/src/file_readers/Fio_csv.cpp
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pcf_place.cpp
Labels: none

updating read_xml_arch_file.cpp with latest
  include/xml_enc/OpenFPGA/arch_fpga_src/read_xml_arch_file.cpp
Labels: none

update pb_pin&vpr_util
  include/packer_fix/post_routing_pb_pin_fixup.cpp
  include/packer_fix/vpr_utils.cpp
Labels: none

stars: internal TC for EDA-848
  stars/src/RS/rsOpts.cpp
  stars/src/RS/rsOpts.h
  stars/src/RS/sta_lib_writer.cpp
  stars/src/main.cpp
Labels: none

removing all palce files in CMAKALIST
  CMakeLists.txt
Labels: build, lang-make

Revert my changes in base to ca84f205cd2bc1efbaf4ee10f520b57232e97514
  include/read_verilog/OpenFPGA/vpr/src/base/SetupVPR.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.h
  include/read_verilog/OpenFPGA/vpr/src/base/vpr_types.h
Labels: none

removing all filed in placerfix
  include/placer_fix/SetupVPR.cpp
  include/placer_fix/move_generator.h
  include/placer_fix/place.cpp
  include/placer_fix/place_util.cpp
  include/placer_fix/place_util.h
  include/placer_fix/read_options.cpp
  include/placer_fix/read_options.h
  include/placer_fix/vpr_types.h
Labels: none

Updating read_verilog files in includes
  include/read_verilog/OpenFPGA/vpr/src/base/SetupVPR.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/netlist_writer.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.h
  include/read_verilog/OpenFPGA/vpr/src/base/vcs_enc_support.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/vcs_enc_support.h
  include/read_verilog/OpenFPGA/vpr/src/base/vpr_types.h
Labels: none

stars: more debug print
  stars/src/RS/WriterVisitor.cpp
  stars/src/RS/WriterVisitor.h
  stars/src/RS/rsDB.cpp
  stars/src/RS/sta_file_writer.cpp
  stars/src/RS/sta_file_writer.h
  stars/src/RS/sta_lib_writer.cpp
  stars/src/file_readers/rsFio.cpp
  stars/src/file_readers/rsFio.h
  stars/src/file_readers/rsFio_csv.cpp
  stars/src/main.cpp
Labels: none

backend build fix. Put back vcs_enc_support.cpp. Temporarily resolve incompatibilities with upstream merge. Search SERGE_BUILD_FIX markers in the source code. These places should be adjusted.
  include/openfpga/libs/libionamemap/src/base/io_name_map.h
  include/openfpga/src/fpga_verilog/verilog_top_testbench.cpp
  include/placer_fix/move_generator.h
  include/placer_fix/place.cpp
  include/placer_fix/place_util.cpp
  include/placer_fix/place_util.h
  include/placer_fix/vpr_types.h
  include/read_verilog/OpenFPGA/vpr/src/base/vcs_enc_support.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/vcs_enc_support.h
  include/read_verilog/OpenFPGA/vpr/src/base/vpr_types.h
Labels: none

include <cassert> since the libC assert macro is not included implicitely on some systems
  include/placer_fix/place.cpp
  include/placer_fix/place_util.cpp
Labels: none

stars: use $HOME prefix in internal unit tests
  stars/src/RS/rsOpts.cpp
  stars/src/RS/rsOpts.h
  stars/src/main.cpp
Labels: none

Fixing congestion-aware for OpenFPGA Update
  include/placer_fix/move_generator.h
  include/placer_fix/place.cpp
  include/placer_fix/place_util.cpp
  include/placer_fix/place_util.h
  include/read_verilog/OpenFPGA/vpr/src/base/SetupVPR.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.h
Labels: none

Update CentOS CMake
  .github/workflows/install_centos_dependencies_build.sh
Labels: github

EDA-1828: temporarily disabled prune_verilog() call
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
Labels: none

Partitioning-based packer v0.1
  include/packer_fix/cluster.cpp
  include/packer_fix/cluster_o.cpp
  include/packer_fix/cluster_util_o.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/SetupVPR_o.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options_o.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options_o.h
  include/read_verilog/OpenFPGA/vpr/src/base/vpr_types_o.h
Labels: none

adding hmetis
  include/hmetis/hmetis
Labels: none

Fixing the bug for hmetic packer
  include/packer_fix/cluster.cpp
Labels: none

stars: restructuring and debug print
  stars/src/RS/WriterVisitor.cpp
  stars/src/RS/WriterVisitor.h
  stars/src/RS/rsDB.cpp
  stars/src/RS/rsDB.h
  stars/src/RS/rsOpts.cpp
  stars/src/RS/rsOpts.h
  stars/src/RS/sta_lib_data.h
  stars/src/main.cpp
Labels: none

adding help command for congestion-aware placer
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
Labels: none

stars: renamed some classes and enums
  stars/src/RS/WriterVisitor.cpp
  stars/src/RS/rsDB.cpp
  stars/src/RS/rsOpts.cpp
  stars/src/RS/sta_lib_data.h
  stars/src/RS/sta_lib_writer.cpp
  stars/src/RS/sta_lib_writer.h
Labels: none

stars: renamed sta_lib_data.h -> LCell.h
  stars/src/RS/LCell.h
  stars/src/RS/WriterVisitor.cpp
  stars/src/RS/WriterVisitor.h
  stars/src/RS/rsDB.cpp
  stars/src/RS/rsDB.h
  stars/src/RS/sta_file_writer.cpp
  stars/src/RS/sta_lib_writer.cpp
  stars/src/RS/sta_lib_writer.h
  stars/src/main.cpp
Labels: none

stars: more restructuring
  stars/src/RS/LCell.h
  stars/src/RS/WriterVisitor.cpp
  stars/src/RS/WriterVisitor.h
  stars/src/RS/rsDB.cpp
  stars/src/RS/rsDB.h
  stars/src/RS/sta_lib_writer.cpp
  stars/src/RS/sta_lib_writer.h
Labels: none

fix a bug in VPR when reading tileable rr_graph (--read_rr_graph)
  CMakeLists.txt
  include/tileable_fix/rr_graph_builder.cpp
  include/tileable_fix/rr_graph_builder.h
  include/tileable_fix/rr_graph_uxsdcxx_serializer.h
Labels: build, lang-make

stars: EDA-848: use input-dependent lib-cell names (LUT_K5,LUT_K6) instead of LUT_K. Plus, temporary VPR patch for memory corruption.
  CMakeLists.txt
  include/mem_fix/librrgraph/rr_graph_view.h
  include/mem_fix/libvtrutil/vtr_ragged_matrix.h
  stars/src/RS/WriterVisitor.cpp
  stars/src/RS/WriterVisitor.h
  stars/src/RS/rsDB.cpp
  stars/src/RS/rsDB.h
  stars/src/RS/rsEnv.cpp
  stars/src/RS/rsEnv.h
  stars/src/RS/rsOpts.cpp
  stars/src/RS/rsOpts.h
  stars/src/main.cpp
Labels: build, lang-make

Passing device name to netlist editing tool
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
Labels: none

Adding analytical-based initial placer
  CMakeLists.txt
  include/VTR_CMAKE_fix/CMakeLists.txt
  include/placer_fix/analytic_placer.cpp
  include/placer_fix/analytic_placer.h
  include/placer_fix/place.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/SetupVPR.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.h
  include/read_verilog/OpenFPGA/vpr/src/base/vpr_types.h
Labels: build, lang-make

CMakeLists.txt updated to include modified source codes
  CMakeLists.txt
Labels: build, lang-make

Add tileable_fix directory including source codes to be modified
  include/tileable_fix/rr_graph_builder.cpp
  include/tileable_fix/rr_graph_builder.h
  include/tileable_fix/rr_graph_uxsdcxx_serializer.h
Labels: none
