Repository os-fpga/Backend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github, docker, build, IPs, Architecture, yosys, verification, PDK, Netlist, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

Clean up code.
  stars/src/vpr_wrapper/vpr_command.cpp
  stars/src/vpr_wrapper/vpr_command.h
Labels: none

Add todo test.
  stars/test/main.cpp
Labels: none

Disable stars temporarily until proven building on CI in Ratpor
  CMakeLists.txt
Labels: build, lang-make

Clean up cmake for stars.
  CMakeLists.txt
  stars/CMakeLists.txt
Labels: build, lang-make

Disable stars: build failure in centos 7 gcc.
  CMakeLists.txt
Labels: build, lang-make

Build fixes
  .github/workflows/build.yml
  .github/workflows/install_centos_dependencies_build.sh
  .github/workflows/install_ubuntu_dependencies_build.sh
  CMakeLists.txt
  stars/CMakeLists.txt
Labels: github, build, lang-make

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/install_centos_dependencies_build.sh
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  .github/workflows/build.yml
Labels: github

Build fixes
  stars/CMakeLists.txt
Labels: none

Remove OPENFPGA11541 from pin_c cmake
  pin_c/CMakeLists.txt
Labels: none

Action upgrade
  .github/workflows/build.yml
Labels: github

Commenting code for parameter validation in blif file
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
Labels: none

Generate stars.sdc (initial version).
  stars/src/main.cpp
  stars/src/sta_writer/sta_file_writer.cpp
  stars/src/sta_writer/sta_file_writer.h
Labels: none

Updat make file with explicit release and debug build targets.
  Makefile
Labels: build, lang-make

Support internal gbox pin selection in pin location constraint.
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

Pin_c bug fix.
  pin_c/src/file_readers/rapid_csv_reader.cpp
Labels: none

Support blif real parameter correctly in include/ files
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
Labels: none

Develop stars to generate liberty file for opensta timing report.
  stars/src/sta_writer/sta_file_writer.cpp
  stars/src/sta_writer/sta_file_writer.h
  stars/src/sta_writer/sta_lib_data.h
  stars/src/sta_writer/sta_lib_writer.cpp
  stars/src/sta_writer/sta_lib_writer.h
Labels: none

added the part for the edif
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.h
  include/read_verilog/OpenFPGA/vpr/src/base/read_circuit.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_circuit.h
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
Labels: none

changes made after testing the code in raptor
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_circuit.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
Labels: none

Remove un-necessary ff info section.
  stars/src/sta_writer/sta_lib_writer.cpp
Labels: none

stars fix and openfpga update
  .github/bin/run-clang-format.sh
  .github/bin/run-clang-tidy.sh
  .gitmodules
  stars/src/sta_writer/sta_lib_writer.cpp
  stars/src/sta_writer/sta_lib_writer.h
Labels: github

Support blackbox(dsp/bram) lib.
  stars/src/sta_writer/sta_file_writer.cpp
Labels: none

Fix sta warnings on missing edge transition in liberty file.
  stars/src/sta_writer/sta_lib_writer.cpp
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use "minimatch" syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
# TODO

# General areas
documentation:
 - docs/*
 - docs/**/*
 - "*README*"
 - "*.md"
 - "*.rst"
 - ".readthedocs.yml"
github:
 - .github/*
 - .github/**/*
docker:
 - Dockerfile
 - "*docker*"
build:
 - Makefile
 - "*.make"
 - CMakeLists.txt
 - cmake
IPs:
 - ips/**
Architecture:
 - arch/**
yosys:
 - yosys/**
verification:
 - dv/**
PDK:
 - pdk/**
Netlist:
 - rtl/**

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
 - "*.v"
 - "*.sv"
lang-cpp:
 - "*.c*"
 - "*.h"
lang-perl:
 - "*.pl"
 - "*perl*"
lang-python:
 - "*.py"
lang-shell:
 - "*.sh"
lang-netlist:
 - "*.blif"
 - "*.eblif"
 - "*.edif"
 - "*.vqm"
lang-make:
 - "*.make"
 - Makefile
 - CMakeLists.txt
