Repository os-fpga/Backend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github, docker, build, IPs, Architecture, yosys, verification, PDK, Netlist, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

pin_c: guarantee unique XYZ assignment in pcf mode
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pcf_place.cpp
  pin_c/src/pin_loc/pin_placer.h
  pin_c/src/util/pinc_log.h
Labels: none

pin_c: EDA-1726: allow soft overlap in no-PCF mode
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pcf_place.cpp
  pin_c/src/pin_loc/pin_placer.cpp
  pin_c/src/pin_loc/pin_placer.h
Labels: none

pin_c: EDA-1726: output pin overlap in no-PCF mode
  pin_c/src/pin_loc/pcf_place.cpp
Labels: none

pin_c: try .eblif if .blif is missing
  pin_c/src/pin_loc/pin_placer.cpp
Labels: none

Updating flag name in netlist_writer.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/netlist_writer.cpp
Labels: none

adding new public and private key and updating readme
  CMakeLists.txt
  config.txt
  private_key.pem
  public_key.pem
Labels: build, lang-make

adding new public and private key and updating readme
  README.md
Labels: documentation

Revert "adding new public and private key and updating readme"
  CMakeLists.txt
  README.md
  config.txt
  private_key.pem
  public_key.pem
Labels: documentation, build, lang-make

added missing lines
  CMakeLists.txt
Labels: build, lang-make

updated keys
  private_key.pem
  public_key.pem
Labels: none

updated readme
  README.md
Labels: documentation

pin_c: refactor read_ports.cpp
  pin_c/src/pin_loc/pin_placer.cpp
  pin_c/src/pin_loc/read_ports.cpp
Labels: none

pin_c: exit if json arg is specified but the file is missing
  pin_c/src/pin_loc/read_ports.cpp
Labels: none

Update overwritten file
  include/openfpga/src/fpga_verilog/verilog_top_testbench.cpp
Labels: none

Update customized verilog_top_testbench.cpp
  include/openfpga/src/fpga_verilog/verilog_top_testbench.cpp
Labels: none

Update hacked-version verilog_top_testbench.cpp
  include/openfpga/src/fpga_verilog/verilog_top_testbench.cpp
Labels: none

Port latest OpenFPGA and Raptor_Tools (#435)
  include/openfpga/src/fpga_verilog/verilog_top_testbench.cpp
Labels: none

pin_c: refactor map_clocks, debug print
  pin_c/src/pin_loc/map_clocks.cpp
  pin_c/src/pin_loc/pin_placer.cpp
  pin_c/src/pin_loc/pin_placer.h
Labels: none

pin_c: more debug print for map_clocks (repack_constraints)
  pin_c/src/file_readers/Fio.cpp
  pin_c/src/file_readers/Fio.h
  pin_c/src/pin_loc/map_clocks.cpp
Labels: none

removed test_pinc (empty placeholder)
  pin_c/CMakeLists.txt
  pin_c/test/main.cpp
Labels: none

To Lowwer ADDER_CARRY
  include/eblif_tranform/transform_blif.h
Labels: none

pin_c map_clocks development and debug print
  pin_c/src/file_readers/Fio.cpp
  pin_c/src/file_readers/Fio.h
  pin_c/src/pin_loc/map_clocks.cpp
  pin_c/src/util/pinc_log.cpp
  pin_c/src/util/pinc_log.h
Labels: none

disable mtune=native and ASAN in KaHyPar build flags
  CMakeLists.txt
Labels: build, lang-make

moving KaHyPar fix to Raptor_Tools/graph_partition CMake
  CMakeLists.txt
Labels: build, lang-make

pin_c: debug map_clocks
  pin_c/src/file_readers/Fio.cpp
  pin_c/src/file_readers/Fio.h
  pin_c/src/pin_loc/map_clocks.cpp
  pin_c/src/pin_loc/pcf_place.cpp
Labels: none

Unrolling DSP38 into RS primitives
  include/eblif_tranform/transform_blif.h
Labels: none

revert behnam chnages for production release -step1
  CMakeLists.txt
  include/router_fix/route_parallel.cpp
Labels: build, lang-make

revert behnam chnages for production release-step2
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
Labels: none

pinc_log: added traceEnv() debug function
  pin_c/src/file_readers/Fio.cpp
  pin_c/src/file_readers/Fio.h
  pin_c/src/file_readers/Fio_csv.cpp
  pin_c/src/main.cpp
  pin_c/src/pin_loc/map_clocks.cpp
  pin_c/src/pin_loc/pcf_place.cpp
  pin_c/src/util/geo/xyz.h
  pin_c/src/util/pinc_log.cpp
  pin_c/src/util/pinc_log.h
Labels: none

Putting the module name adder_carry to upper for verilog only post P&R
  include/read_verilog/OpenFPGA/vpr/src/base/netlist_writer.cpp
Labels: none

Putting the module name dffxxx to upper for verilog only post P&R
  include/read_verilog/OpenFPGA/vpr/src/base/netlist_writer.cpp
Labels: none

the first version of partition based placer - it does not supprt DSP. It only support 104.68 device
  CMakeLists.txt
  include/packer_fix/Partitioning.cpp
  include/packer_fix/Partitioning.h
  include/packer_fix/cluster.cpp
Labels: build, lang-make

pin_c and stars cleanup
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/file_readers/pinc_Fio.cpp
  pin_c/src/file_readers/pinc_Fio.h
  pin_c/src/file_readers/pinc_Fio_csv.cpp
  pin_c/src/file_readers/pinc_tinyxml2.cpp
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/pin_loc/map_clocks.cpp
  pin_c/src/pin_loc/pcf_place.cpp
  pin_c/src/pin_loc/pin.h
  pin_c/src/pin_loc/pin_placer.cpp
  pin_c/src/pin_loc/read_ports.cpp
  pin_c/src/util/geo/iv.h
  pin_c/src/util/geo/xyz.h
  stars/src/RS/rsEnv.cpp
  stars/src/RS/rsOpts.cpp
  stars/src/RS/rsOpts.h
Labels: none

obtain KaHyPar path based on VPR path instead of using fixed embedded path
  include/packer_fix/Partitioning.cpp
Labels: none

pin_c: cleanup and rename rapid_csv_reader.cpp,h to pinc_csv_reader.cpp,h
  pin_c/src/file_readers/pinc_Fio.h
  pin_c/src/file_readers/pinc_csv_reader.cpp
  pin_c/src/file_readers/pinc_csv_reader.h
  pin_c/src/pin_loc/map_clocks.cpp
  pin_c/src/pin_loc/pcf_place.cpp
  pin_c/src/pin_loc/pin_placer.cpp
  pin_c/src/pin_loc/pin_placer.h
Labels: none

Transforming case insensitive CARRY_CHAIN to adder_carry
  include/eblif_tranform/transform_blif.h
Labels: none

Transforming case insensitive CARRY to adder_carry
  include/eblif_tranform/transform_blif.h
Labels: none

removed include/mem_fix/
  CMakeLists.txt
  include/mem_fix/librrgraph/rr_graph_view.h
  include/mem_fix/libvtrutil/vtr_ragged_matrix.h
Labels: build, lang-make

Putting the port names of carry to lower
  include/eblif_tranform/transform_blif.h
Labels: none

The O port of CARRY is the sumout port of adder_carry
  include/eblif_tranform/transform_blif.h
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use "minimatch" syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
# TODO

# General areas
documentation:
 - docs/*
 - docs/**/*
 - "*README*"
 - "*.md"
 - "*.rst"
 - ".readthedocs.yml"
github:
 - .github/*
 - .github/**/*
docker:
 - Dockerfile
 - "*docker*"
build:
 - Makefile
 - "*.make"
 - CMakeLists.txt
 - cmake
IPs:
 - ips/**
Architecture:
 - arch/**
yosys:
 - yosys/**
verification:
 - dv/**
PDK:
 - pdk/**
Netlist:
 - rtl/**

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
 - "*.v"
 - "*.sv"
lang-cpp:
 - "*.c*"
 - "*.h"
lang-perl:
 - "*.pl"
 - "*perl*"
lang-python:
 - "*.py"
lang-shell:
 - "*.sh"
lang-netlist:
 - "*.blif"
 - "*.eblif"
 - "*.edif"
 - "*.vqm"
lang-make:
 - "*.make"
 - Makefile
 - CMakeLists.txt
