Repository os-fpga/Backend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github, docker, build, IPs, Architecture, yosys, verification, PDK, Netlist, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

Fix lib pins for blackbox (dsp/bram).
  stars/src/sta_writer/sta_file_writer.cpp
Labels: none

Updating vpr cmake
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
Labels: none

Updated vpr CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
Labels: none

vpr cmake and read_blif updated
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
Labels: none

EDA-689 support port_info.json in pin_c
  pin_c/src/file_readers/blif_reader.cpp
  pin_c/src/file_readers/blif_reader.h
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/file_readers/pcf_reader.h
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/main.cpp
  pin_c/src/pin_loc/pin_constrain_loc.h
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
  pin_c/src/util/cmd_line.cpp
  pin_c/src/util/cmd_line.h
  pin_c/src/util/geo/iv.h
  pin_c/src/util/geo/xyz.h
  pin_c/src/util/nlohmann3_11_2/json.hpp
  pin_c/src/util/pinc_log.cpp
  pin_c/src/util/pinc_log.h
Labels: none

Test CI build on github.
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

formatter
  .github/bin/run-clang-format.sh
Labels: github

remove qt dep
  .github/workflows/install_ubuntu_dependencies_build.sh
Labels: github

remove qt dep
  .github/workflows/install_ubuntu_dependencies_build.sh
Labels: github

remove qt dep
  .github/workflows/build.yml
Labels: github

EDA-689: support port_info.json in pin_c (updated)
  pin_c/src/file_readers/csv_reader.cpp
  pin_c/src/file_readers/csv_reader.h
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/file_readers/pcf_reader.h
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/main.cpp
  pin_c/src/pin_loc/pin_constrain_loc.h
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
  pin_c/src/util/cmd_line.cpp
  pin_c/src/util/cmd_line.h
  pin_c/src/util/geo/iv.h
  pin_c/src/util/geo/xyz.h
  pin_c/src/util/nlohmann3_11_2/json.hpp
  pin_c/src/util/pinc_log.cpp
  pin_c/src/util/pinc_log.h
Labels: none

Disable temporarily SWIG
  CMakeLists.txt
Labels: build, lang-make

Develope file writer for complex blocks (This change needs openSTA fix).
  stars/src/sta_writer/sta_file_writer.cpp
Labels: none

pin_c: allow passing --port_info option without --blif currently, pin_c aborts if --blif is missing. With this change, pin_c works of --port_info is specified instead of --blif
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

putting the condition of stopping dumping of netlitsts from vpr
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.h
  include/read_verilog/OpenFPGA/vpr/src/base/read_circuit.cpp
Labels: none

encrpted netlist condition is added
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
Labels: none

encryption condition added
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
Labels: none

if(n_l.encrypted) added
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.h
  include/read_verilog/OpenFPGA/vpr/src/base/read_circuit.cpp
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_blif.cpp
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_blif.h
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_circuit.cpp
Labels: none

removing OpenFPGA11541
  include/read_verilog/OpenFPGA11541/vpr/CMakeLists.txt
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_blif.cpp
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_blif.h
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_circuit.cpp
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_circuit.h
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_options.cpp
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_options.h
  include/xml_enc/OpenFPGA11541/arch_fpga_src/read_xml_arch_file.cpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/CMakeLists.txt
  include/xml_enc/OpenFPGA11541/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/function.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/obfuscate.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/openssl_rsa.cpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/openssl_rsa.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/pugixml_loc.cpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/pugixml_loc.hpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/pugixml_util.cpp
Labels: none

added the .edf
  include/read_verilog/OpenFPGA/vpr/src/base/read_circuit.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
Labels: none

synchoronized with the updated backend
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.h
  include/read_verilog/OpenFPGA/vpr/src/base/read_circuit.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_circuit.h
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
Labels: none

updating Backend CMAKE so we get missing VPR version information during raptor build
  CMakeLists.txt
Labels: build, lang-make

read_edif set to read only in case of not raptor
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
Labels: none

Passing private key file as arguement to read_verilog
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
Labels: none

Correcting arguement passing function
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
Labels: none

Develope sta file writter to generate general sequential element; enhance stars to handle ff, lut, dsp and bram.
  stars/src/sta_writer/sta_file_writer.cpp
  stars/src/sta_writer/sta_lib_data.h
  stars/src/sta_writer/sta_lib_writer.cpp
  stars/src/sta_writer/sta_lib_writer.h
Labels: none

Unit tests for stars on LUT, FF, DSP and BRAM.
  stars/test/bram/bram.blif
  stars/test/bram/bram.sdc
  stars/test/bram/bram.tcl
  stars/test/bram/clean.sh
  stars/test/bram/k6n8_vpr.xml
  stars/test/bram/run.sh
  stars/test/dsp/clean.sh
  stars/test/dsp/dsp.blif
  stars/test/dsp/dsp.sdc
  stars/test/dsp/dsp.tcl
  stars/test/dsp/k6n8_vpr.xml
  stars/test/dsp/run.sh
  stars/test/lut_ff/clean.sh
  stars/test/lut_ff/k6n8_vpr.xml
  stars/test/lut_ff/lut_ff.blif
  stars/test/lut_ff/lut_ff.sdc
  stars/test/lut_ff/lut_ff.tcl
  stars/test/lut_ff/run.sh
Labels: none

Code cleanup.
  stars/src/sta_writer/sta_file_writer.cpp
Labels: none

Disable IPO link in non-production build
  CMakeLists.txt
Labels: build, lang-make

allow reading pin table csv with incomplete rows
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapidcsv.h
Labels: none

Fix empty ports in create verilogy file (Jira#848).
  stars/src/sta_writer/sta_file_writer.cpp
Labels: none

Attempt to fix Action build
  .github/workflows/build.yml
Labels: github

GCC 11
  .github/workflows/build.yml
  .github/workflows/install_centos_dependencies_build.sh
  .github/workflows/install_ubuntu_dependencies_build.sh
Labels: github

Fix OpenSTA warnings on SDF port not found.
  stars/src/sta_writer/sta_file_writer.cpp
Labels: none

prepare for EDA-1057 "Pin_c to use new columns from pin table". Just prepared the infrastructure and added debug print, no change in behavior yet.
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
Labels: none

Intermediate #2 for EDA-1057 "Pin_c to use new columns from pin table". No functional change yet.
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
Labels: none

EDA-1057: enabled new mode (columns C and D in pin-table). It's possible use the old mode by env variable: export pinc_use_bump_column_B=1
  pin_c/src/file_readers/rapid_csv_reader.cpp
Labels: none

Thierry's packer fix
  CMakeLists.txt
  include/packer_fix/cluster.cpp
  include/packer_fix/cluster_util.cpp
  include/packer_fix/cluster_util.h
  include/packer_fix/output_clustering.cpp
  include/packer_fix/output_clustering.h
Labels: build, lang-make

runtime fix for packer
  include/packer_fix/cluster_router.cpp
  include/packer_fix/output_clustering.cpp
Labels: none

Adding Raptor_Tools as Submodule
  .gitmodules
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use "minimatch" syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
# TODO

# General areas
documentation:
 - docs/*
 - docs/**/*
 - "*README*"
 - "*.md"
 - "*.rst"
 - ".readthedocs.yml"
github:
 - .github/*
 - .github/**/*
docker:
 - Dockerfile
 - "*docker*"
build:
 - Makefile
 - "*.make"
 - CMakeLists.txt
 - cmake
IPs:
 - ips/**
Architecture:
 - arch/**
yosys:
 - yosys/**
verification:
 - dv/**
PDK:
 - pdk/**
Netlist:
 - rtl/**

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
 - "*.v"
 - "*.sv"
lang-cpp:
 - "*.c*"
 - "*.h"
lang-perl:
 - "*.pl"
 - "*perl*"
lang-python:
 - "*.py"
lang-shell:
 - "*.sh"
lang-netlist:
 - "*.blif"
 - "*.eblif"
 - "*.edif"
 - "*.vqm"
lang-make:
 - "*.make"
 - Makefile
 - CMakeLists.txt
