Repository os-fpga/Backend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github, docker, build, IPs, Architecture, yosys, verification, PDK, Netlist, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

[Makefile] Add project name to CMakefile
  CMakeLists.txt
Labels: build, lang-make

[ci] add missing tcl package
  .github/workflows/install_dependencies_build.sh
Labels: github

[Script] Add version number support
  CMakeLists.txt
  VERSION.md
Labels: documentation, build, lang-make

[ci] add auto version updater
  .github/workflows/patch_updater.yml
Labels: github

[doc] Update readme
  README.md
Labels: documentation

[ci] debugging tcl dependencies
  .github/workflows/install_dependencies_build.sh
  CMakeLists.txt
Labels: github, build, lang-make

Add VprOpenSTA
  .gitmodules
Labels: none

Make OpenSTA for Raptor.
  CMakeLists.txt
  Makefile
Labels: build, lang-make

Temporarilly integrate OpenSTA to develop compiler layer in Raptor.
  .gitmodules
  Makefile
  fpga/CMakeLists.txt
  fpga/VERSION.md
  sta/CMakeLists.txt
  sta/Makefile
  sta/VERSION.md
  sta/test/main.cpp
Labels: build, lang-make

Copy OpenSTA executable at right place.
  sta/CMakeLists.txt
Labels: none

[git] update submodule OpenFPGA to the latest version
  .gitmodules
Labels: none

latest OpenFPGA, remove OpenSTA
  CMakeLists.txt
Labels: build, lang-make

Add pin_c into new Backend.
  pin_constraint/CMakeLists.txt
  pin_constraint/data/pinmap_qlf_k6n10_tsmc22.csv
  pin_constraint/data/pinmap_qlf_k6n10_tsmc22.xml
  pin_constraint/data/simple_pic.blif
  pin_constraint/data/simple_pic_cstr_pin.pcf
  pin_constraint/data/simple_pic_cstr_pin.place
  pin_constraint/scripts/create_ioplace.py
  pin_constraint/scripts/eblif.py
  pin_constraint/scripts/lib/parse_pcf.py
  pin_constraint/scripts/pinmap_parse.py
  pin_constraint/scripts/vpr_io_place.py
  pin_constraint/src/file_readers/blif_reader.cpp
  pin_constraint/src/file_readers/blif_reader.h
  pin_constraint/src/file_readers/csv_reader.cpp
  pin_constraint/src/file_readers/csv_reader.h
  pin_constraint/src/file_readers/pcf_reader.cpp
  pin_constraint/src/file_readers/pcf_reader.h
  pin_constraint/src/file_readers/rapid_csv_reader.cpp
  pin_constraint/src/file_readers/rapid_csv_reader.h
  pin_constraint/src/file_readers/rapidcsv.h
  pin_constraint/src/file_readers/xml_reader.cpp
  pin_constraint/src/file_readers/xml_reader.h
  pin_constraint/src/main.cpp
  pin_constraint/src/pin_loc/pin_constrain_loc.h
  pin_constraint/src/pin_loc/pin_location.cpp
  pin_constraint/src/pin_loc/pin_location.h
  pin_constraint/src/util/cmd_line.cpp
  pin_constraint/src/util/cmd_line.h
  pin_constraint/test/main.cpp
  pin_constraint/test/test0/simple_pic_cstr_pin.pcf
  pin_constraint/test/test1/simple_pic_cstr_pin.pcf
  pin_constraint/test/test2/simple_pic_cstr_pin.pcf
  pin_constraint/test/test3/simple_pic_run.openfpga
  pin_constraint/test/test4/simple_pic_cstr_pin.pcf
Labels: none

Add pin_c.
  pin_c/CMakeLists.txt
  pin_c/data/pinmap_qlf_k6n10_tsmc22.csv
  pin_c/data/pinmap_qlf_k6n10_tsmc22.xml
  pin_c/data/simple_pic.blif
  pin_c/data/simple_pic_cstr_pin.pcf
  pin_c/data/simple_pic_cstr_pin.place
  pin_c/scripts/create_ioplace.py
  pin_c/scripts/eblif.py
  pin_c/scripts/lib/parse_pcf.py
  pin_c/scripts/pinmap_parse.py
  pin_c/scripts/vpr_io_place.py
  pin_c/src/file_readers/blif_reader.cpp
  pin_c/src/file_readers/blif_reader.h
  pin_c/src/file_readers/csv_reader.cpp
  pin_c/src/file_readers/csv_reader.h
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/file_readers/pcf_reader.h
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/file_readers/rapidcsv.h
  pin_c/src/file_readers/xml_reader.cpp
  pin_c/src/file_readers/xml_reader.h
  pin_c/src/main.cpp
  pin_c/src/pin_loc/pin_constrain_loc.h
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
  pin_c/src/util/cmd_line.cpp
  pin_c/src/util/cmd_line.h
  pin_c/test/main.cpp
  pin_c/test/test0/simple_pic_cstr_pin.pcf
  pin_c/test/test1/simple_pic_cstr_pin.pcf
  pin_c/test/test2/simple_pic_cstr_pin.pcf
  pin_c/test/test3/simple_pic_run.openfpga
  pin_c/test/test4/simple_pic_cstr_pin.pcf
Labels: none

Add pin_c to backend.
  pin_c/CMakeLists.txt
  pin_c/data/pinmap_qlf_k6n10_tsmc22.csv
  pin_c/data/pinmap_qlf_k6n10_tsmc22.xml
  pin_c/data/simple_pic.blif
  pin_c/data/simple_pic_cstr_pin.pcf
  pin_c/data/simple_pic_cstr_pin.place
  pin_c/scripts/create_ioplace.py
  pin_c/scripts/eblif.py
  pin_c/scripts/lib/parse_pcf.py
  pin_c/scripts/pinmap_parse.py
  pin_c/scripts/vpr_io_place.py
  pin_c/src/file_readers/blif_reader.cpp
  pin_c/src/file_readers/blif_reader.h
  pin_c/src/file_readers/csv_reader.cpp
  pin_c/src/file_readers/csv_reader.h
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/file_readers/pcf_reader.h
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/file_readers/rapidcsv.h
  pin_c/src/file_readers/xml_reader.cpp
  pin_c/src/file_readers/xml_reader.h
  pin_c/src/main.cpp
  pin_c/src/pin_loc/pin_constrain_loc.h
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
  pin_c/src/util/cmd_line.cpp
  pin_c/src/util/cmd_line.h
  pin_c/test/main.cpp
  pin_c/test/test0/simple_pic_cstr_pin.pcf
  pin_c/test/test1/simple_pic_cstr_pin.pcf
  pin_c/test/test2/simple_pic_cstr_pin.pcf
  pin_c/test/test3/simple_pic_run.openfpga
  pin_c/test/test4/simple_pic_cstr_pin.pcf
Labels: none

Build OpenFPGA and VPR with Yosys and ABC off
  CMakeLists.txt
Labels: build, lang-make

Compile pin_c.
  CMakeLists.txt
  pin_c/CMakeLists.txt
Labels: build, lang-make

OpenFPGA build options
  CMakeLists.txt
Labels: build, lang-make

Develop for new gemini pin table with GBX modes.
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/file_readers/pcf_reader.h
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
Labels: none

Switching embedded submodule pointers to ssh pointers
  .gitmodules
Labels: none

incr compile flag
  CMakeLists.txt
Labels: build, lang-make

OpenFPGA version
  CMakeLists.txt
Labels: build, lang-make

OpenFPGA no version
  CMakeLists.txt
Labels: build, lang-make

updated Backend's CMAKELists.txt to copy files at run time necessary for integartion of verilog netlist format in openFPGA
  CMakeLists.txt
Labels: build, lang-make

adding an include/read_verilog which contains files which will replace at run time in OpenFPGA/vpr for verilog netlist integration
  include/read_verilog/read_blif.cpp
  include/read_verilog/read_blif.h
  include/read_verilog/read_circuit.cpp
  include/read_verilog/read_circuit.h
  include/read_verilog/read_options.cpp
  include/read_verilog/read_options.h
Labels: none

Added file for OpenFPGA
  CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.h
  include/read_verilog/OpenFPGA/vpr/src/base/read_circuit.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_circuit.h
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
Labels: build, lang-make

Deleting hard copies of OpenFPGA_RS version
  include/read_verilog/read_blif.cpp
  include/read_verilog/read_blif.h
  include/read_verilog/read_circuit.cpp
  include/read_verilog/read_circuit.h
  include/read_verilog/read_options.cpp
  include/read_verilog/read_options.h
Labels: none

Added files for OpenFPGA11541.
  include/read_verilog/OpenFPGA11541/vpr/CMakeLists.txt
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_blif.cpp
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_blif.h
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_circuit.cpp
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_circuit.h
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_options.cpp
  include/read_verilog/OpenFPGA11541/vpr/src/base/read_options.h
Labels: none

Removing unnecessary status message from CMake
  CMakeLists.txt
Labels: build, lang-make

Updated CMake
  CMakeLists.txt
Labels: build, lang-make

CMAKE has been updated to copy files in OpenFPGA at run time required for encryption
  CMakeLists.txt
  include/xml_enc/OpenFPGA/arch_fpga_src/read_xml_arch_file.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/CMakeLists.txt
  include/xml_enc/OpenFPGA/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA/in_pugi_xml/function.h
  include/xml_enc/OpenFPGA/in_pugi_xml/obfuscate.h
  include/xml_enc/OpenFPGA/in_pugi_xml/pugixml_loc.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/pugixml_loc.hpp
  include/xml_enc/OpenFPGA/in_pugi_xml/pugixml_util.cpp
  include/xml_enc/OpenFPGA11541/arch_fpga_src/read_xml_arch_file.cpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/CMakeLists.txt
  include/xml_enc/OpenFPGA11541/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/function.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/obfuscate.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/pugixml_loc.cpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/pugixml_loc.hpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/pugixml_util.cpp
Labels: build, lang-make

encryption with public and private key
  CMakeLists.txt
  include/xml_enc/OpenFPGA/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA/in_pugi_xml/openssl_rsa.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/openssl_rsa.h
  include/xml_enc/OpenFPGA/in_pugi_xml/vpr_e.bin
  include/xml_enc/OpenFPGA11541/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/openssl_rsa.cpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/openssl_rsa.h
Labels: build, lang-make

Improve pin_c run time when process pin table with full GBX modes.
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pin_location.cpp
Labels: none

code cleaning
  include/xml_enc/OpenFPGA/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA/in_pugi_xml/function.h
  include/xml_enc/OpenFPGA/in_pugi_xml/obfuscate.h
  include/xml_enc/OpenFPGA/in_pugi_xml/openssl_rsa.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/openssl_rsa.h
  include/xml_enc/OpenFPGA/in_pugi_xml/pugixml_util.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/vpr_e.bin
  include/xml_enc/OpenFPGA11541/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/function.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/obfuscate.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/openssl_rsa.cpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/openssl_rsa.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/pugixml_util.cpp
Labels: none

code cleaning
  include/xml_enc/OpenFPGA/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA/in_pugi_xml/function.h
  include/xml_enc/OpenFPGA/in_pugi_xml/obfuscate.h
  include/xml_enc/OpenFPGA/in_pugi_xml/openssl_rsa.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/openssl_rsa.h
  include/xml_enc/OpenFPGA/in_pugi_xml/pugixml_util.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/vpr_e.bin
  include/xml_enc/OpenFPGA11541/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/function.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/obfuscate.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/openssl_rsa.cpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/openssl_rsa.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/pugixml_util.cpp
Labels: none

encryption with public and private key
  CMakeLists.txt
  include/xml_enc/OpenFPGA/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA/in_pugi_xml/openssl_rsa.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/openssl_rsa.h
  include/xml_enc/OpenFPGA/in_pugi_xml/vpr_e.bin
  include/xml_enc/OpenFPGA11541/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/openssl_rsa.cpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/openssl_rsa.h
Labels: build, lang-make

updated the flow to change the file path
  include/xml_enc/OpenFPGA/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA/in_pugi_xml/openssl_rsa.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/openssl_rsa.h
  include/xml_enc/OpenFPGA/in_pugi_xml/pugixml_loc.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/pugixml_util.cpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/aes.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/openssl_rsa.cpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/openssl_rsa.h
  include/xml_enc/OpenFPGA11541/in_pugi_xml/pugixml_loc.cpp
Labels: none

file location changed from the include/pugi_xml
  include/xml_enc/OpenFPGA/in_pugi_xml/vpr_e.bin
Labels: none

removing the not required print statements
  include/xml_enc/OpenFPGA/in_pugi_xml/openssl_rsa.cpp
  include/xml_enc/OpenFPGA/in_pugi_xml/pugixml_util.cpp
  include/xml_enc/OpenFPGA11541/in_pugi_xml/openssl_rsa.cpp
Labels: none

Create STA Rapid Silicon (stars) frame work.
  CMakeLists.txt
  stars/CMakeLists.txt
  stars/src/main.cpp
  stars/src/sta_writer/sta_file_writer.cpp
  stars/src/sta_writer/sta_file_writer.h
  stars/src/vpr_wrapper/stars_global.h
  stars/src/vpr_wrapper/vpr_command.cpp
  stars/src/vpr_wrapper/vpr_command.h
  stars/src/vpr_wrapper/vpr_main.cpp
  stars/src/vpr_wrapper/vpr_main.h
  stars/test/main.cpp
Labels: build, lang-make

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use "minimatch" syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
# TODO

# General areas
documentation:
 - docs/*
 - docs/**/*
 - "*README*"
 - "*.md"
 - "*.rst"
 - ".readthedocs.yml"
github:
 - .github/*
 - .github/**/*
docker:
 - Dockerfile
 - "*docker*"
build:
 - Makefile
 - "*.make"
 - CMakeLists.txt
 - cmake
IPs:
 - ips/**
Architecture:
 - arch/**
yosys:
 - yosys/**
verification:
 - dv/**
PDK:
 - pdk/**
Netlist:
 - rtl/**

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
 - "*.v"
 - "*.sv"
lang-cpp:
 - "*.c*"
 - "*.h"
lang-perl:
 - "*.pl"
 - "*perl*"
lang-python:
 - "*.py"
lang-shell:
 - "*.sh"
lang-netlist:
 - "*.blif"
 - "*.eblif"
 - "*.edif"
 - "*.vqm"
lang-make:
 - "*.make"
 - Makefile
 - CMakeLists.txt
