Repository os-fpga/Backend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github, docker, build, IPs, Architecture, yosys, verification, PDK, Netlist, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

Partitioning cleanup and clang-format
  include/hmetis/hmetis
  include/packer_fix/Partitioning.cpp
  include/packer_fix/Partitioning.h
Labels: none

Removing verific dependency
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
Labels: none

stars: sync utilities with pin_c, add nl_partition
  stars/src/RS/rsOpts.cpp
  stars/src/RS/rsOpts.h
  stars/src/RS/sta_file_writer.cpp
  stars/src/file_readers/pinc_Fio.cpp
  stars/src/file_readers/pinc_Fio.h
  stars/src/file_readers/pinc_Fio_csv.cpp
  stars/src/file_readers/pinc_tinyxml2.cpp
  stars/src/main.cpp
  stars/src/nl_partition/nl_Par.cpp
  stars/src/nl_partition/nl_Par.h
  stars/src/util/pinc_log.cpp
  stars/src/util/pinc_log.h
Labels: none

stars: clean up nl_partition warnings
  stars/src/nl_partition/nl_Par.cpp
  stars/src/nl_partition/nl_Par.h
Labels: none

packer_fix/Partitioning: rename, debug print, cleanup
  CMakeLists.txt
  include/packer_fix/Partitioning.h
  include/packer_fix/cluster.cpp
  include/packer_fix/cluster_o.cpp
  include/packer_fix/cluster_util_o.cpp
  include/packer_fix/nl_Par.cpp
  include/packer_fix/nl_Par.h
  include/packer_fix/pinc_log.cpp
  include/packer_fix/pinc_log.h
Labels: build, lang-make

partitioner: handle failures
  include/packer_fix/nl_Par.cpp
  include/packer_fix/nl_Par.h
Labels: none

handle partitioner NOP
  include/packer_fix/cluster.cpp
  include/packer_fix/cluster_util.cpp
  include/packer_fix/nl_Par.cpp
  include/packer_fix/nl_Par.h
Labels: none

prepare partitioner functionality in stars
  stars/src/RS/rsOpts.cpp
  stars/src/RS/rsOpts.h
  stars/src/main.cpp
  stars/src/nl_partition/nl_Par.cpp
  stars/src/nl_partition/nl_Par.h
Labels: none

Update dependabot.yml to add serge-rs as reviewer
  .github/dependabot.yml
Labels: github

Updating vtr submodules to bring in libcatch2
  Makefile
Labels: build, lang-make

removed vpr CMakefile copy for analytic placer
  CMakeLists.txt
Labels: build, lang-make

temporarily disabled tileable_fix patch to simplify upstream merge
  CMakeLists.txt
Labels: build, lang-make

temporarily disabled most patches to allow upstream merge
  CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/src/base/read_circuit.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options_o.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options_o.h
  include/read_verilog/OpenFPGA/vpr/src/base/vpr_types_o.h
Labels: build, lang-make

fix_merge: read_options, SetupVPR, vpr_types
  CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/src/base/SetupVPR.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.h
  include/read_verilog/OpenFPGA/vpr/src/base/vpr_types.h
Labels: build, lang-make

restored include/util_fix
  CMakeLists.txt
  include/util_fix/vpr_utils.cpp
  include/util_fix/vpr_utils.h
Labels: build, lang-make

restored levelized TA patch
  CMakeLists.txt
  include/analysis_fix/timing_reports.h
  include/base_fix/vpr_api.cpp
  include/base_fix/vpr_context.h
Labels: build, lang-make

restored Tilable patch
  CMakeLists.txt
  include/tileable_fix/rr_graph_builder.cpp
  include/tileable_fix/rr_graph_builder.h
  include/tileable_fix/rr_graph_uxsdcxx_serializer.h
Labels: build, lang-make

partially restored packer patch
  CMakeLists.txt
  include/packer_fix/cluster.cpp
  include/packer_fix/cluster_util.cpp
  include/packer_fix/cluster_util.h
  include/packer_fix/output_clustering.cpp
  include/packer_fix/output_clustering.h
Labels: build, lang-make

skip empty string in eblif transform string::back() is undefined if the string is empty crashes in debug-compiled vpr
  include/eblif_tranform/transform_blif.h
Labels: none

fix read_options patch
  CMakeLists.txt
  include/placer_fix/read_options.cpp
  include/placer_fix/read_options.h
  include/placer_fix/vpr_types.h
  include/read_verilog/OpenFPGA/vpr/src/base/SetupVPR_o.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_options.cpp
Labels: build, lang-make

finished cluster merge
  include/packer_fix/cluster.cpp
Labels: none

prepare merge to Raptor
  CMakeLists.txt
  include/placer_fix/SetupVPR.cpp
Labels: build, lang-make

removed RAPTOR cmake variable
  CMakeLists.txt
Labels: build, lang-make

Backend/CMakefile cleanup 1
  CMakeLists.txt
  include/CMAKE_fix/CMakeLists.txt
Labels: build, lang-make

Backend/CMakefile cleanup 2
  CMakeLists.txt
  include/CMAKE_fix/CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
Labels: build, lang-make

patch openfpga CMakefile by git apply - turn off unwanted warnings
  CMakeLists.txt
  include/CMAKE_fix/OpenFPGA_CMake.diff
  include/CMAKE_fix/OpenFPGA_CMake_patched.txt
Labels: build, lang-make

cmake: patch VPR CMakefile by 'git apply', add apply_git_diff() function
  CMakeLists.txt
  include/CMAKE_fix/VPR_CMake.diff_U22
  include/CMAKE_fix/VPR_CMake_patched.txt
Labels: build, lang-make

dont touch vpr_utils.cpp,h - put our code in new files instead (rsbe_utils)
  CMakeLists.txt
  include/base_fix/vpr_context.h
  include/util_fix/rsbe_utils.cpp
  include/util_fix/rsbe_utils.h
  include/util_fix/vpr_utils.cpp
  include/util_fix/vpr_utils.h
Labels: build, lang-make

patch core types in vpr/src/base by 'git apply' instead of copying
  CMakeLists.txt
  include/base_fix/TYPES/VPR_src_base_TYPES.diff
  include/base_fix/TYPES/vpr_api.cpp-patched
  include/base_fix/TYPES/vpr_context.h-patched
  include/base_fix/TYPES/vpr_types.h-patched
Labels: build, lang-make

patch vpr/src/base mostly by 'git apply' instead of copying
  CMakeLists.txt
  include/base_fix/READ/VPR_src_base_READ.diff
  include/base_fix/READ/read_blif.cpp-patched
  include/base_fix/READ/read_blif.h-patched
  include/base_fix/READ/read_circuit.cpp-patched
  include/base_fix/READ/read_circuit.h-patched
  include/base_fix/READ/read_options.cpp-patched
  include/base_fix/READ/read_options.h-patched
  include/base_fix/SetupVPR.cpp-patched
  include/base_fix/base_SetupVPR_cpp.diff
Labels: build, lang-make

redo read_blif patches and diffs, move our additions to read_blif_RS.cpp,h
  CMakeLists.txt
  include/base_fix/READ/BlifAllocCallback.h
  include/base_fix/READ/VPR_src_base_READ.diff
  include/base_fix/READ/read_blif.cpp
  include/base_fix/READ/read_blif_RS.cpp
  include/base_fix/READ/read_blif_RS.h
  include/base_fix/TYPES/VPR_src_base_TYPES.diff
  include/base_fix/TYPES/vpr_api_cpp__ignore_space.diff
  include/base_fix/TYPES/vpr_context_h__ignore_space.diff
  include/base_fix/TYPES/vpr_types_h__ignore_space.diff
  include/read_verilog/OpenFPGA/vpr/src/base/netlist_writer.cpp
Labels: build, lang-make

clean up read_blif.cpp, move Callback methods to BlifAllocCallback.cpp
  CMakeLists.txt
  include/base_fix/READ/BlifAllocCallback.cpp
  include/base_fix/READ/BlifAllocCallback.h
  include/base_fix/READ/read_blif.cpp
  include/base_fix/READ/read_blif.cpp-patched
  include/base_fix/READ/read_blif.h-patched
Labels: build, lang-make

correct VPR_CMake.diff
  CMakeLists.txt
  include/CMAKE_fix/VPR_CMake.diff
Labels: build, lang-make

restructure VPR_CMake.diff, move RS additions to separate .cmake files
  CMakeLists.txt
  include/CMAKE_fix/VPR_CMake.diff
  include/CMAKE_fix/VPR_CMake_PRODUCTION_BUILD_RS2.cmake
  include/CMAKE_fix/VPR_CMake_RS1.cmake
  include/CMAKE_fix/VPR_CMake_patched.txt
Labels: build, lang-make

temporarily resort to copying VPR CMakefile
  CMakeLists.txt
  include/CMAKE_fix/CMakeLists.txt
Labels: build, lang-make

adjust VPR_CMake to fix Raptor-level configuration
  include/CMAKE_fix/CMakeLists.txt
  include/CMAKE_fix/VPR_CMake_RS1.cmake
  include/CMAKE_fix/VPR_CMake_patched.txt
Labels: none

adjust Backend CMake to fix Raptor-level configuration
  CMakeLists.txt
Labels: build, lang-make

remove '--quiet' git-apply option and copy vpr_api.cpp. Workaround for CentOS7.
  CMakeLists.txt
  include/base_fix/TYPES/vpr_api.cpp
Labels: build, lang-make

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use "minimatch" syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
# TODO

# General areas
documentation:
 - docs/*
 - docs/**/*
 - "*README*"
 - "*.md"
 - "*.rst"
 - ".readthedocs.yml"
github:
 - .github/*
 - .github/**/*
docker:
 - Dockerfile
 - "*docker*"
build:
 - Makefile
 - "*.make"
 - CMakeLists.txt
 - cmake
IPs:
 - ips/**
Architecture:
 - arch/**
yosys:
 - yosys/**
verification:
 - dv/**
PDK:
 - pdk/**
Netlist:
 - rtl/**

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
 - "*.v"
 - "*.sv"
lang-cpp:
 - "*.c*"
 - "*.h"
lang-perl:
 - "*.pl"
 - "*perl*"
lang-python:
 - "*.py"
lang-shell:
 - "*.sh"
lang-netlist:
 - "*.blif"
 - "*.eblif"
 - "*.edif"
 - "*.vqm"
lang-make:
 - "*.make"
 - Makefile
 - CMakeLists.txt
