Repository os-fpga/Backend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github, docker, build, IPs, Architecture, yosys, verification, PDK, Netlist, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

EDA-1333: case-insensitive prefix matching for Mode_/MODE_ columns, improved error detection and reporting.
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
Labels: none

pin_c: restructure and improve error detection
  pin_c/CMakeLists.txt
  pin_c/src/file_readers/blif_reader.cpp
  pin_c/src/file_readers/blif_reader.h
  pin_c/src/file_readers/pcf_reader.cpp
  pin_c/src/file_readers/pcf_reader.h
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/main.cpp
  pin_c/src/pin_loc/pin_constrain_loc.h
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
  pin_c/src/util/geo/xyz.h
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: github

EDA-606: Improve error message from pin_c
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
  pin_c/src/util/pinc_log.cpp
  pin_c/src/util/pinc_log.h
Labels: none

[EDA-1207] stars: add --analysis option to prevent vpr from running the packer
  stars/src/main.cpp
Labels: none

Scott's workaround
  CMakeLists.txt
  include/openfpga/src/fpga_bitstream/fabric_bitstream.cpp
Labels: build, lang-make

pb_pin_fixup
  CMakeLists.txt
  include/packer_fix/post_routing_pb_pin_fixup.cpp
Labels: build, lang-make

update OpenFPGA from branch openfpga_update_05_04, make stars compatible with the updated OpenFPGA
  CMakeLists.txt
  include/xml_enc/OpenFPGA/arch_fpga_src/read_xml_arch_file.cpp
  pin_c/libpinconst.a
  pin_c/pin_c
  stars/src/sta_writer/sta_file_writer.cpp
Labels: build, lang-make

fix CMakeLists.txt
  CMakeLists.txt
Labels: build, lang-make

remove libpinconst.a
  pin_c/libpinconst.a
Labels: none

remove pin_c binary
  pin_c/pin_c
Labels: none

checkout submodule till 2 levels only
  Makefile
Labels: build, lang-make

mentioned to submodule that are needed to checkout
  Makefile
Labels: build, lang-make

mentioned to submodule that are needed to checkout
  Makefile
Labels: build, lang-make

Nadeem's fix for submodules, fix compile errors
  CMakeLists.txt
  Makefile
Labels: build, lang-make

amend previous PR #231: modify include/packer_fix instead of OpenFPGA
  CMakeLists.txt
  include/packer_fix/output_clustering.cpp
  include/packer_fix/post_routing_pb_pin_fixup.cpp
Labels: build, lang-make

checkout submodule using make target in centos
  .github/workflows/build.yml
Labels: github

checkout submodule using make target in CentOS
  .github/workflows/build.yml
Labels: github

add fixing three first issues
  include/packer_fix/post_routing_pb_pin_fixup.cpp
Labels: none

Revert "add fixing three first issues"
  include/packer_fix/post_routing_pb_pin_fixup.cpp
Labels: none

fixing three main error via post_routing_pb_pin_fixup
  include/packer_fix/post_routing_pb_pin_fixup.cpp
Labels: none

Revert "fixing three main error via post_routing_pb_pin_fixup"
  include/packer_fix/post_routing_pb_pin_fixup.cpp
Labels: none

fixing three main bugs of pb_pin_fixup
  include/packer_fix/post_routing_pb_pin_fixup.cpp
Labels: none

fixing routing issue correlated to pb_pin_fixup
  include/packer_fix/vpr_utils.cpp
Labels: none

update Cmake for routing fix
  CMakeLists.txt
Labels: build, lang-make

fixing rout issue corresponding to pb_pin_fixup
  CMakeLists.txt
  include/packer_fix/vpr_utils.cpp
Labels: build, lang-make

fixing the routing issue corresponding to pb_pin_fixup
  CMakeLists.txt
  include/packer_fix/vpr_utils.cpp
Labels: build, lang-make

fixing pb_pin_fixup via DSP port handeling
  include/packer_fix/post_routing_pb_pin_fixup.cpp
Labels: none

pin_c: start developing PT validation, some restructuring
  pin_c/src/file_readers/csv_reader.cpp
  pin_c/src/file_readers/csv_reader.h
  pin_c/src/file_readers/xml_reader.cpp
  pin_c/src/file_readers/xml_reader.h
  pin_c/src/main.cpp
  pin_c/src/pin_loc/pin_constrain_loc.h
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
Labels: none

pinc: renamed pin_constrain_loc.h to pinc_main.h
  pin_c/src/main.cpp
  pin_c/src/pin_loc/pin_location.h
  pin_c/src/pin_loc/pinc_main.h
Labels: none

Adding conditions and making necessary changes so when rtl is encrypted our netlist from vpr is also encrypted
  CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/src/base/netlist_writer.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/read_blif.h
Labels: build, lang-make

pin_c: PT validation (work in progress), more detailed debug print
  pin_c/src/file_readers/blif_reader.h
  pin_c/src/file_readers/csv_reader.cpp
  pin_c/src/file_readers/csv_reader.h
  pin_c/src/file_readers/pcf_reader.h
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/file_readers/rapidcsv.h
  pin_c/src/file_readers/xml_reader.cpp
  pin_c/src/file_readers/xml_reader.h
  pin_c/src/pin_loc/pin_location.cpp
  pin_c/src/pin_loc/pin_location.h
Labels: none

adding support to simulate encrypted netlist generated by vpr using vcs
  CMakeLists.txt
  include/read_verilog/OpenFPGA/vpr/src/base/netlist_writer.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/vcs_enc_support.cpp
  include/read_verilog/OpenFPGA/vpr/src/base/vcs_enc_support.h
Labels: build, lang-make

initial commit for bringing wl & bl caching into backend
  CMakeLists.txt
  include/openfpga/src/base/openfpga_bitstream_command_template.h
  include/openfpga/src/base/openfpga_bitstream_template.h
  include/openfpga/src/fpga_bitstream/build_fabric_bitstream.cpp
  include/openfpga/src/fpga_bitstream/build_fabric_bitstream.h
  include/openfpga/src/fpga_bitstream/build_fabric_bitstream_memory_bank.cpp
  include/openfpga/src/fpga_bitstream/build_fabric_bitstream_memory_bank.h
  include/openfpga/src/fpga_bitstream/fabric_bitstream.cpp
  include/openfpga/src/fpga_bitstream/fabric_bitstream.h
  include/openfpga/src/fpga_bitstream/fabric_bitstream_schema.capnp
  include/openfpga/src/fpga_bitstream/fabric_bitstream_schema.capnp.h
Labels: build, lang-make

workaround for wl dont cares
  include/openfpga/src/fpga_bitstream/fabric_bitstream.cpp
Labels: none

schema cleanup and debugging
  CMakeLists.txt
  include/openfpga/src/fpga_bitstream/build_fabric_bitstream_memory_bank.cpp
  include/openfpga/src/fpga_bitstream/fabric_bitstream.cpp
  include/openfpga/src/fpga_bitstream/fabric_bitstream_schema.capnp
  include/openfpga/src/fpga_bitstream/fabric_bitstream_schema.capnp.h
Labels: build, lang-make

updated CMakeLists
  CMakeLists.txt
Labels: build, lang-make

pin_c: added file IO classes file_readers/Fio.cpp,h, will be used for reading .csv and .xml for PT validation
  pin_c/src/file_readers/Fio.cpp
  pin_c/src/file_readers/Fio.h
  pin_c/src/file_readers/rapid_csv_reader.cpp
Labels: none

pin_c: file IO development, will be used for reading .csv and .xml for PT validation
  pin_c/src/file_readers/Fio.cpp
  pin_c/src/file_readers/Fio.h
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
Labels: none

pin_c: file IO development, switched csv reader to fio::CSV_Reader
  pin_c/src/file_readers/Fio.cpp
  pin_c/src/file_readers/Fio.h
  pin_c/src/file_readers/rapid_csv_reader.cpp
  pin_c/src/file_readers/rapid_csv_reader.h
  pin_c/src/file_readers/rapidcsv.h
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use "minimatch" syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Third-party tools
# TODO

# General areas
documentation:
 - docs/*
 - docs/**/*
 - "*README*"
 - "*.md"
 - "*.rst"
 - ".readthedocs.yml"
github:
 - .github/*
 - .github/**/*
docker:
 - Dockerfile
 - "*docker*"
build:
 - Makefile
 - "*.make"
 - CMakeLists.txt
 - cmake
IPs:
 - ips/**
Architecture:
 - arch/**
yosys:
 - yosys/**
verification:
 - dv/**
PDK:
 - pdk/**
Netlist:
 - rtl/**

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
 - "*.v"
 - "*.sv"
lang-cpp:
 - "*.c*"
 - "*.h"
lang-perl:
 - "*.pl"
 - "*perl*"
lang-python:
 - "*.py"
lang-shell:
 - "*.sh"
lang-netlist:
 - "*.blif"
 - "*.eblif"
 - "*.edif"
 - "*.vqm"
lang-make:
 - "*.make"
 - Makefile
 - CMakeLists.txt
